# CODEOWNERS
#
# documentation for this file can be found at:
# https://help.github.com/en/articles/about-code-owners
# These are the default owners for the code and will
# be requested for review when someone opens a pull request.
# order is alphabetical for easier maintenance.
#
# Bharath Sreekanth (bharathsreekanth)
# Chiman Jain (chimanjain)
# Deepak Ghivari (Deepak-Ghivari)
# Matt Schmaelzle (mjsdell)
# Mukesh Gandharva (mgandharva)
# Prasanna Muthukumaraswamy (prablr79)
# Rajendra Indukuri (rajendraindukuri)
# Rajkumar Palani (rajkumar-palani)
# Raymond Sedlock (rsedlock1958)
# Sean Gallacher (gallacher)
# Yamunadevi Shanmugam (shanmydell)

* @bharathsreekanth @chimanjain @Deepak-Ghivari @gallacher @mgandharva @mjsdell @prablr79 @rajendraindukuri @rajkumar-palani @rsedlock1958 @shanmydell
