# CODEOWNERS
#
# documentation for this file can be found at:
# https://help.github.com/en/articles/about-code-owners
# These are the default owners for the code and will
# be requested for review when someone opens a pull request.
# order is alphabetical for easier maintenance.
#
# Adam Ginna (adamginna-dell)
# Bartosz Ciesielczyk (cbartoszDell)
# Bharath Sreekanth (bharathsreekanth)
# Bogdan Novikov (bogdanNovikovDell)
# Chiman Jain (chimanjain)
# Deepak Ghivari (Deepak-Ghivari)
# Leonard Ulman (Leonard-Dell)
# Marcin Trajfacki (mtrajfacki-dell)
# Marek Suski (mareksuski-dell)
# Mateusz Urbanek (shanduur-dell)
# Matt Schmaelzle (mjsdell)
# Małgorzata Dutka (mdutka-dell)
# Mukesh Gandharva (mgandharva)
# Prasanna Muthukumaraswamy (prablr79)
# Rajendra Indukuri (rajendraindukuri)
# Rajkumar Palani (rajkumar-palani)
# Raymond Sedlock (rsedlock1958)
# Sean Gallacher (gallacher)
# Yamunadevi Shanmugam (shanmydell)
# Sharon Toll (sharont58)

* @bharathsreekanth @chimanjain @Deepak-Ghivari @gallacher @mgandharva @mjsdell @prablr79 @rajendraindukuri @rajkumar-palani @rsedlock1958 @shanmydell @sharont58 @adamginna-dell @cbartoszDell @bogdanNovikovDell @Leonard-Dell @mtrajfacki-dell @mareksuski-dell @shanduur-dell @mdutka-dell
