# CODEOWNERS
#
# documentation for this file can be found at:
# https://help.github.com/en/articles/about-code-owners
# These are the default owners for the code and will
# be requested for review when someone opens a pull request.
# order is alphabetical for easier maintenance.
#
# Bharath Sreekanth (bharathsreekanth)
# Deepak Ghivari (Deepak-Ghivari)
# Sean Gallacher (gallacher)
# Matt Schmaelzle (mjsdell)
# Prasanna Muthukumaraswamy (prablr79)
# Rajendra Indukuri (rajendraindukuri)
# Rajkumar Palani (rajkumar-palani)
# Raymond Sedlock (rsedlock1958)
# Yamunadevi Shanmugam (shanmydell)

* @bharathsreekanth @Deepak-Ghivari @gallacher @mjsdell @prablr79 @rajendraindukuri @rajkumar-palani @rsedlock1958  @shanmydell
