//
// Style Markdown content
//

.td-content {
    order: 1;

    p, li, td {
        font-weight: $font-weight-body-text;  
        font-size:1rem;
    }

    > h1 {
        font-weight: $font-weight-bold;
        margin-bottom: 1rem;
    }

    > h2 {
        margin-bottom: 1rem;
    }

    > h2:not(:first-child) {
        margin-top: 3rem;
    }

    > h2 + h3 {
         margin-top: 1rem;
    }

    > h3, > h4, > h5, > h6 {
        margin-bottom: 1rem;
        margin-top: 2rem;
    }

    img {
        @extend .img-fluid;
        margin-bottom:15px;
    }

    pre, pre code {
        background-color: #f8f8f8 !important; 
    }

    table{
        border-collapse: collapse;
        border-spacing: 0;
        border:1px solid #000000;
        width: auto !important;
    }

    th{
        border:1px solid #000000;  
        padding:10px;
        text-align: center;
    }
    td{
        border:1px solid #000000; 
        padding: 12px;
        text-align: center ;
    }
   .tdleft td{
        border:1px solid #000000; 
        padding: 12px;
        text-align: left !important;;
    } 
    .tleft,.tleft td{
       text-align: left !important;
    }
    > blockquote {
        padding: 0 0 0 1rem;
        margin-bottom: $spacer;
        color: $gray-600;
        border-left: 6px solid $secondary;
    }

    > ul li, > ol li {
        margin-bottom: .25rem;
    }

    strong {
        font-weight: $font-weight-bold;
    }

    > pre, > .highlight, > .lead, > h1, > h2, > ul, > ol, > p, > blockquote, > dl dd, .footnotes, > .alert , > div > .highlight{
        @extend .td-max-width-on-larger-screens;
    }

    .alert:not(:first-child) {
        margin-top: 2 * $spacer;
        margin-bottom: 2 * $spacer;
    }

    .lead {
        margin-bottom: 1.5rem;
    }  
    
    .highlight {
        margin-top: 0.2rem;
    }   

    p + div.highlight, p + div.code-toolbar{
        margin-top: -0.5rem !important;
    }  

    p + pre {
        margin-top: -0.5rem !important;
    }

    .language-terminal + p {
        margin-top: 20px; /* Adjust the value as needed */
    }
    p .language-terminal {
        padding-left: 0;
    }
    pre code{
        color: black;
    } 
    .td-click-to-copy{
        color: rgb(136, 145, 158) !important;
    } 
    .tab-body{
     background-color: #fff !important;
    }
} 



.td-title {
    margin-top: 1rem;
    margin-bottom: .5rem;

    @include media-breakpoint-up(sm) {
        font-size: 3rem;
    }
} 



.td-section{
    
} 

