<style>
.collapse-toggle .collapse-arrow::before {
    content: '\25B6'; /* Right arrow (▶) */
    font-size: 0.8em;
    margin-right: 5px;
    color: #000;
}

.collapse-toggle .collapse-arrow {
    display: inline-block; /* Ensure the arrow behaves as an inline element */
    transition: transform 0.01s ease; /* Smooth rotation animation */
}

.collapse-toggle[aria-expanded="true"] .collapse-arrow {
    transform: rotate(90deg); /* Rotate 90 degrees to point down */
} 

</style>
  


<div class="collapse-container">
    <p class="d-inline-flex gap-1">
      <a class="btn collapse-toggle" data-bs-toggle="collapse" href="#{{ .Get "id" }}" role="button" aria-expanded="false" aria-controls="{{ .Get "id" }}" style="background-color: var(--td-pre-bg) !important; border:0.25px solid black">
        <i class="collapse-arrow fas fa-angle-right"></i>  {{ .Get "title" }}
      </a>
    </p>
    <div class="collapse" id="{{ .Get "id" }}">
      <div class="card card-body">
        {{ .Inner | markdownify }}
      </div>
    </div>
  </div>
  

