{{ $file := .Get "file" }}
{{ $suffix := .Get "suffix" | default "" }}
{{ $hideIds := .Get "hideIds" | default "" }} <!-- IDs to hide, passed as a comma-separated string -->
{{ $Var := .Get "Var" | default "" }} <!-- Get the passed variable -->
{{ $hideIdList := split $hideIds "," }} <!-- Split the string into an array -->
{{ $content := readFile $file }}
{{ $content = replaceRE "^---([\\s\\S]+?)---" "" $content }} <!-- Remove front matter --> 

<!-- Replace placeholders in the content with variables -->
{{ $content = replace $content "{{Var}}" $Var }}

<!-- Dynamically add the `hide` parameter based on IDs -->
{{ range $hideIdList }}
  {{ $id := . }}
  {{ $content = replaceRE (printf "\\{\\{<\\s*hide\\s+id=\"%s\"\\s*>\\}\\}" $id) (printf "{{< hide id=\"%s\" hide=\"true\" >}}" $id) $content }}
{{ end }}
{{ $content = replaceRE "\\{\\{<\\s*hide\\s+id=\"[^\"]+\"\\s*>\\}\\}" "{{< hide id=\"$1\" hide=\"false\" >}}" $content }} <!-- Default all other hide shortcodes to false -->
{{ $htmlContent := $content | markdownify }}
{{ if ne $suffix "" }}
  {{ $htmlContent = replaceRE "(<h[1-6] id=\")([^\"]+)(\")" (printf "$1$2-%s$3" $suffix) $htmlContent }}
  {{ $htmlContent = replaceRE "(<a[^>]*class=\"header-link\"[^>]*href=\"#)([^\"]+)(\")" (printf "$1$2-%s$3" $suffix) $htmlContent }} <!-- Add suffix to all headings and links  -->
{{ end }}
<div class="td-content">{{ $htmlContent | safeHTML }}</div>
