{{- $key := .Get "key" -}}
{{- if eq $key "csi_powerflex_latest_version" -}}v2.15.0
{{- else if eq $key "PFlex_preVersion" -}}v2.14.0
{{- else if eq $key "csi_powerstore_latest_version" -}}v2.15.0
{{- else if eq $key "PStore_preVersion" -}}v2.14.0
{{- else if eq $key "csi_powermax_latest_version" -}}v2.15.0
{{- else if eq $key "csireverseproxy_latest_version" -}}v2.14.0
{{- else if eq $key "PMax_preVersion" -}}v2.14.0
{{- else if eq $key "csi_powerscale_latest_version" -}}v2.15.0
{{- else if eq $key "PScale_preVersion" -}}v2.14.0
{{- else if eq $key "csi_unity_latest_version" -}}v2.15.0
{{- else if eq $key "PUnity_preVersion" -}}v2.14.0
{{- else if eq $key "cert_csi" -}}v1.9.0
{{- else if eq $key "csm_metrics_powerstore_image" -}}v1.13.0
{{- else if eq $key "csm_metrics_powermax_image" -}}v1.8.0
{{- else if eq $key "csm_metrics_powerscale_image" -}}v1.10.0
{{- else if eq $key "csm_metrics_powerflex_image" -}}v1.13.0
{{- else if eq $key "csm_authorization_version" -}}v2.3.0
{{- else if eq $key "csm_resiliency_version" -}}v1.14.0
{{- else if eq $key "csm_replication_version" -}}v1.13.0
{{- else if eq $key "csm_observability_version" -}}v1.13.0
{{- else if eq $key "Min_sample_operator_pflex" -}}v2150
{{- else if eq $key "Det_sample_operator_pflex" -}}v2150
{{- else if eq $key "Min_sample_operator_pstore" -}}v2150
{{- else if eq $key "Det_sample_operator_pstore" -}}v2150
{{- else if eq $key "Min_sample_operator_pmax" -}}v2150
{{- else if eq $key "Det_sample_operator_pmax" -}}v2150
{{- else if eq $key "Min_sample_operator_pscale" -}}v2150
{{- else if eq $key "Det_sample_operator_pscale" -}}v2150
{{- else if eq $key "Min_sample_operator_unity" -}}v2150
{{- else if eq $key "Det_sample_operator_unity" -}}v2150
{{- else if eq $key "sample_sc_pflex" -}}v2150
{{- else if eq $key "sample_sc_pmax" -}}v2150
{{- else if eq $key "sample_sc_pstore" -}}v2150
{{- else if eq $key "sample_sc_pscale" -}}v2150
{{- else if eq $key "sample_sc_unity" -}}v2140
{{- else if eq $key "csm_operator_latest_samples_dir" -}}v2.15.0
{{- else if eq $key "csm_operator_latest_version" -}}v1.10.0
{{- else if eq $key "csi_attacher_latest_version" -}}v4.9.0
{{- else if eq $key "csi_external_health_monitor_controller_latest_version" -}}v0.15.0
{{- else if eq $key "csi_node_driver_registrar_latest_version" -}}v2.14.0
{{- else if eq $key "csi_provisioner_latest_version" -}}v5.3.0
{{- else if eq $key "csi_resizer_latest_version" -}}v1.14.0
{{- else if eq $key "csi_snapshotter_latest_version" -}}v8.3.0
{{- else if eq $key "metadata_retriever_latest_version" -}}v1.12.0
{{- else if eq $key "volumegroup_snapshotter_latest_version" -}}v1.8.1
{{- else if eq $key "replicator_latest_version" -}}v1.13.0
{{- else if eq $key "replication_controller_latest_version" -}}v1.13.0
{{- else if eq $key "podmon_latest_version" -}}v1.14.0
{{- else if eq $key "installation_wizard" -}}1.8.0
{{- else if eq $key "repctl" -}}v1.13.0
{{- else if eq $key "prometheus_version" -}}v3.5.0
{{- else if eq $key "grafana_version" -}}12.1
{{- else if eq $key "openpolicyagent_opa_version" -}}1.8.0
{{- else if eq $key "openpolicyagent_kube_mgmt_version" -}}9.2.1
{{- else if eq $key "nginx_unprivileged_version" -}}1.29
{{- else if eq $key "redis_version" -}}8.2.0-alpine
{{- else if eq $key "opentelemetry_collector_latest_version" -}}0.135.0
{{- else if eq $key "driver_latestVersion" -}}2.15.0
{{- else if eq $key "replication_latestVersion" -}}1.13.0
{{- else if eq $key "Authv2_latestVersion" -}}2.3.0
{{- else if eq $key "Observability_latestVersion" -}}1.13.0

{{- else -}}
  Default text if no valid parameter is passed.
{{- end -}}
