{{- $key := .Get "key" -}}
{{- if eq $key "PFlex_latestVersion" -}}v2.14.0
{{- else if eq $key "PFlex_preVersion" -}}v2.13.0
{{- else if eq $key "PStore_latestVersion" -}}v2.14.0
{{- else if eq $key "PStore_preVersion" -}}v2.13.0
{{- else if eq $key "PMax_latestVersion" -}}v2.14.0
{{- else if eq $key "PMax_preVersion" -}}v2.13.0
{{- else if eq $key "PScale_latestVersion" -}}v2.14.0
{{- else if eq $key "PScale_preVersion" -}}v2.13.0
{{- else if eq $key "PUnity_latestVersion" -}}v2.14.0
{{- else if eq $key "PUnity_preVersion" -}}v2.13.0
{{- else if eq $key "cert_csi" -}}v1.7.0
{{- else if eq $key "Observability_csm_topology_image" -}}v1.12.0
{{- else if eq $key "Observability_csm_metrics_PStore_image" -}}v1.12.0
{{- else if eq $key "Observability_csm_metrics_PMax_image" -}}v1.7.0
{{- else if eq $key "Observability_csm_metrics_PScale_image" -}}v1.9.0
{{- else if eq $key "Observability_csm_metrics_PFlex_image" -}}v1.12.0
{{- else if eq $key "Replication" -}}v1.12.0
{{- else if eq $key "Operator_Resiliency_ConfigVersion" -}}v1.13.0
{{- else if eq $key "Authv1_ConfigVersion" -}}v1.14.0
{{- else if eq $key "Authv1_csm_authorization_tenant" -}}v1.14.0
{{- else if eq $key "Authv2_csm_authorization_tenant" -}}v2.2.0
{{- else if eq $key "Authv1_csm_authorization_proxy" -}}v1.14.0
{{- else if eq $key "Authv2_csm_authorization_proxy" -}}v2.2.0
{{- else if eq $key "Authv1_csm_authorization_role" -}}v1.14.0
{{- else if eq $key "Authv2_csm_authorization_role" -}}v2.2.0
{{- else if eq $key "Authv1_csm_authorization_storage" -}}v1.14.0
{{- else if eq $key "Authv2_csm_authorization_storage" -}}v2.2.0
{{- else if eq $key "Authv1_csm_authorization_sidecar" -}}v1.14.0
{{- else if eq $key "Authv2_csm_authorization_sidecar" -}}v2.2.0
{{- else if eq $key "Authv2_csm_authorization_controller" -}}v2.2.0
{{- else if eq $key "Authv1_PMax_ReverseProxy_ConfigVersion" -}}v1.13.0
{{- else if eq $key "Min_sample_operator_pflex" -}}v2140
{{- else if eq $key "Det_sample_operator_pflex" -}}v2140
{{- else if eq $key "Min_sample_operator_pstore" -}}v2140
{{- else if eq $key "Det_sample_operator_pstore" -}}v2140
{{- else if eq $key "Min_sample_operator_pmax" -}}v2140
{{- else if eq $key "Det_sample_operator_pmax" -}}v2140
{{- else if eq $key "Min_sample_operator_pscale" -}}v2140
{{- else if eq $key "Det_sample_operator_pscale" -}}v2140
{{- else if eq $key "Min_sample_operator_unity" -}}v2140
{{- else if eq $key "Det_sample_operator_unity" -}}v2140
{{- else if eq $key "sample_sc_pflex" -}}v2140
{{- else if eq $key "sample_sc_pmax" -}}v2140
{{- else if eq $key "sample_sc_pstore" -}}v2140
{{- else if eq $key "sample_sc_pscale" -}}v2140
{{- else if eq $key "sample_sc_unity" -}}v2140
{{- else if eq $key "csm-operator_latest_version" -}}v1.9.0
{{- else if eq $key "attacher_latest_version" -}}v4.8.1
{{- else if eq $key "health_monitor_controller_latest_version" -}}v0.14.0
{{- else if eq $key "node_driver_registrar_latest_version" -}}v2.13.0
{{- else if eq $key "provisioner_latest_version" -}}v5.2.0
{{- else if eq $key "resizer_latest_version" -}}v1.13.2
{{- else if eq $key "csi_snapshotter_latest_version" -}}v8.2.1
{{- else if eq $key "metadata_retriever_latest_version" -}}v1.11.0
{{- else if eq $key "volumegroup_snapshotter_latest_version" -}}v1.8.1
{{- else if eq $key "replicator_latest_version" -}}v1.12.0
{{- else if eq $key "replication_controller_latest_version" -}}v1.12.0
{{- else if eq $key "podmon_latest_version" -}}v1.13.0
{{- else -}}
  Default text if no valid parameter is passed.
{{- end -}}
