{{- $key := .Get "key" -}}
{{- if eq $key "PFlex_latestVersion" -}}v2.13.0
{{- else if eq $key "PFlex_preVersion" -}}v2.12.0
{{- else if eq $key "PStore_latestVersion" -}}v2.13.0
{{- else if eq $key "PStore_preVersion" -}}v2.12.0
{{- else if eq $key "PMax_latestVersion" -}}v2.14.0
{{- else if eq $key "PMax_preVersion" -}}v2.13.0
{{- else if eq $key "PScale_latestVersion" -}}v2.13.0
{{- else if eq $key "PScale_preVersion" -}}v2.12.0
{{- else if eq $key "PUnity_latestVersion" -}}v2.13.0
{{- else if eq $key "PUnity_preVersion" -}}v2.12.0
{{- else if eq $key "cert_csi" -}}v1.7.0
{{- else if eq $key "Observability_csm_topology_image" -}}v1.11.0 
{{- else if eq $key "Observability_csm_metrics_PStore_image" -}}v1.11.0
{{- else if eq $key "Observability_csm_metrics_PMax_image" -}}v1.10.0
{{- else if eq $key "Observability_csm_metrics_PScale_image" -}}v1.8.0
{{- else if eq $key "Observability_csm_metrics_PFlex_image" -}}v1.11.0
{{- else if eq $key "Replication" -}}v1.11.0
{{- else if eq $key "Operator_Resiliency_ConfigVersion" -}}v1.12.0
{{- else if eq $key "Authv1_ConfigVersion" -}}v1.13.0 
{{- else if eq $key "Authv1_csm_authorization_tenant" -}}v1.13.0
{{- else if eq $key "Authv2_csm_authorization_tenant" -}}v2.1.0  
{{- else if eq $key "Authv1_csm_authorization_proxy" -}}v1.13.0
{{- else if eq $key "Authv2_csm_authorization_proxy" -}}v2.1.0  
{{- else if eq $key "Authv1_csm_authorization_role" -}}v1.13.0
{{- else if eq $key "Authv2_csm_authorization_role" -}}v2.1.0  
{{- else if eq $key "Authv1_csm_authorization_storage" -}}v1.13.0
{{- else if eq $key "Authv2_csm_authorization_storage" -}}v2.1.0 
{{- else if eq $key "Authv1_csm_authorization_sidecar" -}}v1.13.0
{{- else if eq $key "Authv2_csm_authorization_sidecar" -}}v2.1.0 
{{- else if eq $key "Authv2_csm_authorization_controller" -}}v2.1.0 
{{- else if eq $key "Authv1_PMax_ReverseProxy_ConfigVersion" -}}v1.12.0
{{- else if eq $key "Min_sample_operator_pflex" -}}v2130
{{- else if eq $key "Det_sample_operator_pflex" -}}v2130
{{- else if eq $key "Min_sample_operator_pstore" -}}v2130
{{- else if eq $key "Det_sample_operator_pstore" -}}v2130
{{- else if eq $key "Min_sample_operator_pmax" -}}v2130
{{- else if eq $key "Det_sample_operator_pmax" -}}v2130
{{- else if eq $key "Min_sample_operator_pscale" -}}v2130
{{- else if eq $key "Det_sample_operator_pscale" -}}v2130
{{- else if eq $key "Min_sample_operator_unity" -}}v2130
{{- else if eq $key "Det_sample_operator_unity" -}}v2130
{{- else if eq $key "sample_sc_pflex" -}}v2130
{{- else if eq $key "sample_sc_pmax" -}}v2130
{{- else if eq $key "sample_sc_pstore" -}}v2130
{{- else if eq $key "sample_sc_pscale" -}}v2130
{{- else if eq $key "sample_sc_unity" -}}v2130
{{- else -}}
  Default text if no valid parameter is passed.
{{- end -}}
