{{ $key := .Get "key" }}
{{ if eq $key "Upgrade_helm_PFlex_latestVersion" }}v1.14.0
{{ else if eq $key "Upgrade_helm_PFlex_preVersion" }}v1.13.0
{{ else if eq $key "Upgrade_helm_Pstore_latestVersion" }}v1.13.0
{{ else if eq $key "Upgrade_helm_Pstore_preVersion" }}v1.12.0
{{ else if eq $key "Upgrade_helm_PMax_latestVersion" }}v1.13.0
{{ else if eq $key "Upgrade_helm_PMax_preVersion" }}v1.12.0
{{ else if eq $key "Upgrade_helm_PScale_latestVersion" }}v1.13.0
{{ else if eq $key "Upgrade_helm_PScale_preVersion" }}v1.12.0
{{ else if eq $key "Upgrade_helm_PUnity_latestVersion" }}v1.13.0
{{ else if eq $key "Upgrade_helm_Unity_preVersion" }}v1.12.0
{{ else if eq $key "cert_csi" }}v1.7.0
{{ else if eq $key "Observaility_csm_topology_image" }}v1.10.0
{{ else if eq $key "Observaility_csm_metrics_PStore_image" }}v1.11.0
{{ else if eq $key "Observaility_csm_metrics_PMax_image" }}v1.10.0
{{ else if eq $key "Observaility_csm_metrics_PScale_image" }}v1.8.0
{{ else if eq $key "Observaility_csm_metrics_PFlex_image" }}v1.11.0
{{ else if eq $key "Replication" }}v1.11.0
{{ else if eq $key "Operator_Resiliency_ConfigVersion" }}v1.12.0
{{ else if eq $key "Authv1_ConfigVersion" }}v1.13.0
{{ else if eq $key "Authv1_PMax_ReverseProxy_ConfigVersion" }}v1.12.0
{{ else }}
  Default text if no valid parameter is passed.
{{ end }}